<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="video/*" />
        </intent>

        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.whatsapp" />
        <package android:name="com.instagram.android" />
        <package android:name="com.ss.android.ugc.trill" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.google.android.youtube" />
    </queries>

    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EditPhotoVideo"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths_edit_image" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EditPhotoVideo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.removebackgr.RemoveBackGrActivity"
            android:theme="@style/Theme.EditPhotoVideo" />
        <activity
            android:name=".ui.removebackgr.FreeHandCropperActivity"
            android:theme="@style/Theme.EditPhotoVideo" />
        <activity
            android:name=".ui.editorimage.EditImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EditPhotoVideo" />
        <activity
            android:name=".ui.main.template.select.SelectTemplateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EditPhotoVideo" />

        <activity
            android:name=".ui.editmovie.ImageEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.editmovie.PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.songedit.SongEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.save.SaveImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mywork.MyWorkActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.ToolsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.compressvideo.CompressVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.trim.TrimActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service android:name="com.example.editphotovideo.service.ImageCreatorService" />
        <service android:name="com.example.editphotovideo.service.CreateVideoService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_image"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>